/bibtex_with_references
/medline_database.parquet
/merged_WOS_database_until_mid_2025.parquet
/scopus_database.parquet
/unified_database.parquet
/wos_database.parquet
/clean_unified_database.parquet
/error_references_opencitations.parquet
/references_opencitations.parquet
/citation_network.graphml
