/citation_network.graphml
/citation_network_full.graphml
/clean_unified_database_with_communities.parquet
/citation_network_full_high_res.graphml
/clean_unified_database_with_communities_high_res.parquet
/citation_network_full_low_res.graphml
/clean_unified_database_with_communities_low_res.parquet
/bibliographic_coupling_without_layout.graphml
/bibliographic_coupling.graphml
/bibliographic_coupling.pickle
/citation_network_with_topics_new.graphml
/citation_network_with_topics_new.parquet
/cocitation_network_without_layout.graphml
/cocitation_network.pickle
/cocitation_network.graphml
/citation_network_until_1960.graphml
/citation_network_until_1980.graphml
/citation_network_until_2026.graphml
/citation_network_until_2000.graphml
/citation_network_until_2005.graphml
/citation_network_until_1990.graphml
/citation_network_until_1990_with_layout.graphml
/citation_network_until_1960_with_layout.graphml
/citation_network_until_1980_with_layout.graphml
/citation_network_until_2000_with_layout.graphml
/citation_network_until_2005_with_layout.graphml
/citation_network_until_2010_with_layout.graphml
/citation_network_until_2015_with_layout.graphml
/citation_network_until_2020_with_layout.graphml
/citation_network_until_2026_with_layout.graphml
/citation_network_until_2026_with_layout.parquet
/missing_links
