/communities_per_resolution.parquet
/neighbor_citation_network_with_communities.graphml
/neighbor_citation_network_with_community_metrics.graphml
/quality_metrics_per_community.parquet
/quality_metrics_per_partition.parquet
/neighbor_citation_network_with_community_keywords.graphml
/community_keywords_per_resolution.parquet
