/articles.pkl
/ebsco_ASU_all_until_2025.csv
/medline_articles.txt
/pubmed_results.bib
/scopus_1895_2014.csv
/scopus_2015_2025.csv
/wos_biosis_ci
/wos_core_collection
/wos_kci
/wos_latest_papers
/wos_until_mid_2025
/test_dataset.zip
